<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">
      This is a collection of Webpages that have been created by myself, Cannon Taylor.  
      As my career as a Web Developer grows, I hope too that this collection will grow. 
      Here you will find the people and companies I have had the privilege of working with and creating a website for.
    </p>
    <p>
      <%= link_to 'More About Me', about_me_path, class: 'btn btn-primary' %>
      <%= link_to 'My Blogs', blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>