<div class="app-card-container">
  <div class="card">
    <h1>All About Me</h1>

    <hr>
    
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 225, height: 300, alt: "profile image" %> 
      </div>
      
      <div class ="col-md-8">
        <p>
          I am just beginning my journey to learn how to become a great progammer.
         I have recently completed a class where I learned basic Ruby on Rails, HTML, Javascript, and CSS. 
         I am super excited to learn more and become a better programmer! 
        </p>
        
        <p>
            In addition to computer programming, I also have experiance working in the construction business. 
          I have done construction for Bridge Co. Builders for 2 years now and have learned many valuable skills.
        </p>
        
        <p>
          <button
            class="btn btn-primary"
            typed="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controls="jobHistory"
          >
            Job History
          </button>
          
          <button
            class="btn btn-primary"
            typed="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controls="education"
          >
            Education
          </button>
        </p>
        
        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Jobssss
            </div>
            <div class="card card-block">
              Jobssss also
            </div>
          </div>
          
          <div class="collapse" id="education">
            <div class="card card-block">
              Murray
            </div>
            <div class="card card-block">
              Devcamp
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>


