<div class="inner cover">
  <h1 class="cover-heading">
    Welcome To My Profile!
  </h1>
  <p class="lead">
    I am a beginner progammer with a desire to learn and improve.
  When I get oppotunities to challenge myself, I love to face them head on! 
  </p>
  
  <p class="lead">
    I hope to be able to work with you on my path to becoming a great programmer. 
    It is my goal to deliver a website that not only has the functions that you desire,
    but to also make it aestheticly pleasing!
  </p>
  
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>