<div class="inner cover">
  <h1 class="cover-heading">
    Welcome To My Profile random friend or family member that I am showing my website to!
  </h1>
  <p class="lead">
    I am a beginner progammer with a desire to learn and improve.
  When I get oppotunities to challenge myself, 
  I love to face them head on!
  </p>
  
  <p class="lead">
    Hey there friends, here's my website, its kinda crappy, but I'm still working on it. 
    And I'm actually pretty proud to be honest XD.
  </p>
  
  
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>